:root {
  --primary: #2dcc70;
  --secondary: #3498db;
  --bg: #f4f7f6;
  --text: #2c3e50;
}

body {

  background: linear-gradient(135deg, #e0f2f1 0%, #e3f2fd 100%);
  
 
  background-image: 
    radial-gradient(at 0% 0%, rgba(46, 204, 113, 0.15) 0, transparent 50%), 
    radial-gradient(at 100% 100%, rgba(52, 152, 219, 0.15) 0, transparent 50%);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; 
}

.home-card, .calculadora-card {
  background: white;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 350px;
  text-align: center;
}

.Descubra{
  color: #000000;
}

.Calculadora{
  color: #000000;
}

.icon-saude { font-size: 4rem; margin-bottom: 1rem; }

.input-group { text-align: left; margin-bottom: 1.2rem; }

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: var(--text);
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #eee;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}

.input-group input:focus { border-color: var(--secondary); }

.btn-comecar, .btn-calcular {
  width: 100%;
  background-color: var(--primary);
  color: rgb(0, 0, 0);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-calcular { background-color: var(--secondary); }

.btn-comecar:hover, .btn-calcular:hover { opacity: 0.9; transform: translateY(-2px); }

.resultado-area {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #e8f4fd;
  border-radius: 10px;
  border-left: 5px solid var(--secondary);
}

.btn-voltar {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}